
Element {

}
body {

/*     background: #e8e8e8; */
    font-family: Arial;
    font-size: 18px;
    line-height: 1.5em;
    color: #32444a;

}
body {

    margin: 10;

}
* {

    outline: none;

}
* {

 /*   margin: 0;
    padding: 0;*/

}
* {

/*     margin: 0; */
/*     padding: 0; */

}

html {

    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;

}
 
ul {
    line-height: 30%;
}


.button {
  font-size: 20px;
}
